absl-py==0.14.0
attrs==21.2.0
cycler==0.10.0
kiwisolver==1.3.2
matplotlib==3.4.3
mediapipe==0.8.7.3
numpy==1.21.2
opencv-contrib-python==4.5.3.56
opencv-python==4.5.3.56
Pillow==8.3.2
protobuf==3.18.0
pyparsing==2.4.7
python-dateutil==2.8.2
six==1.16.0
termcolor==1.1.0
ffmpeg-python==0.2.0
-e git+git@github.com:timthedev07/computer-vision.git@cc7d4855303a1a7352d5452192e2be508813d5d3#egg=computer_vision
pycaw==20181226
osascript==2020.12.3